{% extends 'basic_app/layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <p class="lead">
             About Page
        </p>
        
        <div class="info">
            
            {{name}} , {{email}}, {{message}}
            <p class='info-class'>
                Ut morbi tincidunt augue interdum velit euismod. 
                Magna fringilla urna porttitor rhoncus. 
                Urna porttitor rhoncus dolor purus non enim. 
                Egestas integer eget aliquet nibh praesent tristique magna sit. 
                Ultrices vitae auctor eu augue ut. 
                Aliquam sem fringilla ut morbi tincidunt. 
                Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum.
            </p>
        
        </div>
        
    </div>
{% endblock  %}
