{% extends 'basic_app/layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <p class="lead">
             Contact Page
        </p>
        
        <form method="POST">
          {{ form.as_p }}
          {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
{% endblock  %}
