{% extends 'basic_app/layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <p class="lead">
           Index Page
        </p>
        
        <img 
            src="{% static "basic_app/images/image_one.jpeg" %}" 
            alt="Uh Oh, didn't show!"
            class="image">
    </div>
{% endblock  %}
