/* body {
    color: aqua;
} */

.lead {
    font-size: 2rem;
}

.image {
    max-width: 80%;
    max-height: 300px;
}

.info-class {
    font-size: 3rem;
    font-family: cursive;
    color: palegreen;
    font-style: italic;
}